<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.bcit.vividhealth">

    //You need the wake lock so the phone can be activated
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    //You need the permision to set the alarm
    <uses-permission android:name="your.package.alarm.permission.SET_ALARM" />
    //And you need the permision to listen the boot
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".ClosingService"
            android:stopWithTask="false"/>
        <activity android:name=".UserInfoActivity"/>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".WorkoutPlan" />
        <activity android:name=".PresetWorkouts" />
        <activity android:name=".PresetSittingBreak" />
        <activity android:name=".PresetGetActive" />
        <activity android:name=".PresetMorningCompliment" />
        <activity android:name=".PresetCoreStrength" />
        <activity android:name=".PresetLegWakeup" />
        <activity android:name=".NewReminderActivity" />
        <activity android:name=".ProfileActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".HomeActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>